.collapsed,
.navbar-default,
.navbar-toggle:focus,
button.navbar-toggle {
  background: $navbarColor !important;
  border: none;

  a {
    color: white !important;
  }
}

nav {
  .navbar-header {
    width: 100%;

    .navbar-brand,
    button {
      transition: opacity 0.15s;
    }

    button {
      margin-right: 0;
    }

    .navbar-brand:hover,
    button:hover {
      opacity: 0.8;
    }
  }
}

body {
 margin-top: 70px;
}
